html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
}
*, :after, :before {
	box-sizing: border-box;
}
* {
    -webkit-font-smoothing: antialiased;
}
a {
	color: #0078e7;
}

.button-xsmall {
            font-size: 70%;
        }

        .button-small {
            font-size: 85%;
        }

        .button-large {
            font-size: 110%;
        }

        .button-xlarge {
            font-size: 125%;
        }

.text-center {
	text-align: center;
}

html, body {
	// background-color: #fdfdfd;
	background-color: #f9f7f7;
	* {
		user-select: none;
	}
}

.button-success,
.button-error,
.button-warning,
.button-secondary,
.button-primary
 {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.button-success {
  background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
  background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
  background: rgb(66, 184, 221); /* this is a light blue */
}

.pure-form-message {
	color: red;
	border: solid 1px red;
	padding: 5px;
	border-radius: 4px;
}

.forms {
	position: relative;
  max-width: 380px;
  padding: 0 20px;
  margin: auto;
  input {
  	display: block;
  	width: 100%;
  	margin-bottom: 20px;
  }
  .submit-button {
  	display: block;
  	width: 100%;
  }
}

.all {
	position: relative;
	background-color: #fff;
	min-height: 100vh;
	overflow: hidden;
	max-width: 1000px;
	margin: 0 auto;
}

.content-wrapper {
	margin: 45px 0 60px;
	padding: 0 20px;
	z-index: 0;
	overflow-y: auto;
}

.content-wrapper-forms {
	// margin: 40px 0 60px;
	padding: 0 20px;
	z-index: 0;
	overflow-y: auto;
}

.top-fix-wrapper {
	position: fixed;
	z-index: 10;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
}

.top-bar {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
	padding: 2px 3px 3px 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	background-color: #f9f9f9;
	color: silver;
	a {
		text-decoration: none;
		display: inline-block;
		line-height: 1;
	}
}

footer.bottom-bar {
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: right;
	.footer-wrapper {
		box-shadow: 0 -1px 3px rgba(0, 0, 0, .2);
		background-color: #f9f9f9;
		z-index: 10;
		max-width: 1000px;
		margin: 0 auto;
		position: relative;
		padding: 5px 5px 12px 5px;
	}

}

.waste-button {
	position: absolute;
	z-index: 15;
  right: 14px;
  bottom: 68px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: red;
  text-align: center;
  line-height: 100px;
  border: solid 1px red;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	display: block;
	text-decoration: none !important;
	color: white !important;
	font-size: 22px;
	font-weight: bold;
	cursor: pointer;
	&:active {
		box-shadow: none;
		border-color: silver;
	}
}

.top-line {
	position: relative;
	text-align: center;
	background-color: #000;
	line-height: 1;
	padding: 2px 0 8px;
		.logo {
		font-weight: bold;
		text-transform: uppercase;
		color: #fff;
		font-size: 12px;
		vertical-align: middle;
	}
}

.icon {
	display: inline-block;
	vertical-align: top;
	color: #000;
	svg {
		width: 40px;
		fill: #fff;
		stroke: #000;
		stroke-width: 10;
		display: inline-block;
		vertical-align: middle;
	}
	span {
		display: inline-block;
	}
	&.home {
		position: absolute;
		left: 5px;
		top: 9px;
		svg {
			width: 35px;
		}
	}
}

.right-side {
	position: relative;
	text-align: right;
}

.cost {
	position: relative;
	display: inline-block;
	vertical-align: top;
	line-height: 1;
	text-align: center;
	padding: 0 5px;
	text-align: center;
	.ttl {
		font-size: 9px;
		color: #000;
		font-weight: bold;
	}
	.content {
		color: gray;
		svg, span {
			display: inline-block;
			vertical-align: text-bottom;
		}
		svg {
			width: 20px;
			fill: currentColor;
		}
		span {
			font-size: 22px;
			font-weight: bold;
			line-height: 22px;
		}
	}
	&.month-wasted {
		.content {
			color: red;
			svg {
				fill: white;
		    width: 20px;
		    stroke: red;
		    stroke-width: 10;
			}
		}
	}
	&.month-saved {
		.content {
			color: green;
			svg {
				fill: white;
		    width: 20px;
		    stroke: green;
		    stroke-width: 10;
			}
		}
	}
	&.aims-reached {
		.content {
			color: orange;
			svg {
				fill: white;
		    width: 20px;
		    stroke: orange;
		    stroke-width: 10;
			}
		}
	}
}
.b-change {
	position: relative;
	width: 100%;
	span, button {
		display: inline-block;
		vertical-align: middle;
		line-height: 1;
	}
	button {
		margin-left: 10px;
	}
}

.settings {
	p {
		position: relative;
		.update-button {
			position: absolute;
			right: 0;
			top: 0;
			line-height: 1;
		}
	}
}

